$primary-color: #00A4B8;
$text-color: #1A1A1A;
$text-dark-white: #FAFAFA;
$grey-color: #474747;
$light-grey-color: #8A8A8A;
$border-light-grey: rgb(138 138 138 / 50%);
$border-dark-white: rgb(250 250 250 / 50%);;